.icon_appmsg_create {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 0 no-repeat;
	width: 38px;
	height: 38px;
	vertical-align: middle;
	display: inline-block
}
a:hover .icon_appmsg_create {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -48px no-repeat
}
.icon_appmsg_create.multi {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -96px no-repeat
}
a:hover .icon_appmsg_create.multi {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -144px no-repeat
}
.icon_shopmsg_create {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -192px no-repeat;
	width: 38px;
	height: 38px;
	vertical-align: middle;
	display: inline-block
}
a:hover .icon_shopmsg_create {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -240px no-repeat
}
.icon_shopmsg_create.multi {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -288px no-repeat
}
a:hover .icon_shopmsg_create.multi {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -336px no-repeat
}
.icon_appmsg_small {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -384px no-repeat;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	display: inline-block
}
a:hover .icon_appmsg_small {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -412px no-repeat
}
.icon_appmsg_small.multi {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -440px no-repeat
}
a:hover .icon_appmsg_small.multi {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -468px no-repeat
}
.icon_shopmsg_small {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -496px no-repeat;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	display: inline-block
}
a:hover .icon_shopmsg_small {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -524px no-repeat
}
.icon_shopmsg_small.multi {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -552px no-repeat
}
a:hover .icon_shopmsg_small.multi {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/page/media/media_list_z218878.png") 0 -580px no-repeat
}
.msg_card_inner {
	overflow: hidden;
	border: 1px solid #e7e7eb
}
.msg_card_bd {
	padding: 14px;
	background-color: #fff
}
.msg_card_ft {
	background-color: #f4f5f9;
	border-top: 1px solid #e7e7eb
}
.msg_card_title {
	overflow: hidden;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	max-height: 2.4;
	word-wrap: normal;
	white-space: pre-wrap
}
.msg_card_title a {
	display: block;
	color: #222
}
.msg_card_info {
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 12px;
	color: #8d8d8d
}
.msg_card_info_meta {
	font-weight: 400;
	font-style: normal
}
.msg_card_extra_info {
	margin: 14px 0 5px
}
.msg_card_desc {
	word-wrap: normal;
	white-space: pre-wrap
}
.msg_card_opr_list {
	font-size: 0
}
.msg_card_opr_item {
	text-align: center
}
.msg_card_opr_item a {
	display: block
}
.msg_card_opr_item:first-child .msg_card_opr_item_inner {
	border-left-width: 0
}
.msg_card_opr_item_inner {
	display: inline-block;
	vertical-align: top;
	width: 98.5%;
	margin: 13px 0;
	line-height: 18px;
	height: 18px;
	cursor: pointer;
	border-left: 1px solid #e7e7eb
}
.mini .msg_card_opr_list {
	line-height: 30px
}
.mini .msg_card_opr_item_inner {
	margin: 5px 0
}
.no_opr_border .msg_card_opr_item_inner {
	border-left: none
}
.no_title .msg_card_extra_info {
	margin-top: 0
}
.appmsg_list_v {
	margin: 0 30px
}
.appmsg_item_v {
	border-top: 1px solid #e7e7eb;
	padding: 18px 0 18px 0;
	overflow: hidden
}
.appmsg_item_v .inner {
	min-height: 100px
}
.appmsg_item_v .content {
	float: left;
	position: relative;
	width: 65%
}
.appmsg_item_v .content a {
	color: #222
}
.appmsg_item_v .content a:hover {
	text-decoration: none
}
.appmsg_item_v .content_cover {
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	left: 0;
	top: 0
}
.appmsg_item_v .content_abstract {
	padding-left: 114px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-top: -5px
}
.appmsg_item_v .content_abstract p {
	line-height: 2em
}
.appmsg_item_v .date {
	float: right;
	text-align: right;
	color: #8d8d8d
}
.appmsg_item_v .opr {
	width: 130px;
	float: right;
	position: relative;
	text-align: right
}
.appmsg_item_v .opr a {
	margin-left: 10px
}
.main_bd .search_bar {
	padding: 0 30px
}
.main_bd .search_bar .frm_input_box {
	width: 255px
}
.page_media_list .main_bd {
	padding: 20px 0 40px 0
}
.page_media_list .video.main_bd {
	padding: 0 0 40px 0
}
.page_media_list .sub_title_bar {
	padding-top: 10px
}
.page_media_list .sub_title_bar .upload_tips {
	display: none
}
.page_media_list .sub_title_bar .upload_tips a {
	margin-left: 5px
}
.page_media_list .sub_title_bar h3 {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle
}
.page_media_list .sub_title_bar .rank_style {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 55px;
	vertical-align: middle;
	font-size: 0;
	margin-left: 14px
}
.page_media_list .sub_title_bar .btn_card_rank,
.page_media_list .sub_title_bar .btn_list_rank {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	color: #fff;
	position: relative;
	z-index: 1
}
.page_media_list .sub_title_bar .btn_card_rank {
	background: transparent url(/mpres/htmledition/images/icon/media/icon_card_msg262dd5.png) no-repeat center center
}
.page_media_list .sub_title_bar .btn_card_rank.current {
	background: transparent url(/mpres/htmledition/images/icon/media/icon_card_msg_hover262dd5.png) no-repeat center center;
	z-index: 2
}
.page_media_list .sub_title_bar .btn_card_rank:hover,
.page_media_list .sub_title_bar .btn_card_rank:active,
.page_media_list .sub_title_bar .btn_card_rank:visited {
	background: transparent url(/mpres/htmledition/images/icon/media/icon_card_msg_hover262dd5.png) no-repeat center center;
	z-index: 2
}
.page_media_list .sub_title_bar .btn_list_rank {
	background: transparent url(/mpres/htmledition/images/icon/media/icon_list_msg262dd5.png) no-repeat center center
}
.page_media_list .sub_title_bar .btn_list_rank.current {
	background: transparent url(/mpres/htmledition/images/icon/media/icon_list_msg_hover262dd5.png) no-repeat center center
}
.page_media_list .sub_title_bar .btn_list_rank:hover,
.page_media_list .sub_title_bar .btn_list_rank:active,
.page_media_list .sub_title_bar .btn_list_rank:visited {
	background: transparent url(/mpres/htmledition/images/icon/media/icon_list_msg_hover262dd5.png) no-repeat center center
}
.page_media_list .sub_title_bar .btn_new {
	float: right;
	margin-top: 5px
}
.page_media_list .appmsg_list {
	margin-bottom: 0
}
.page_media_list.page_richvideo_list .msg_box {
	padding: 20px 46px 0
}
.page_media_list.page_richvideo_list .video_shot,
.page_media_list.page_richvideo_list .video_player {
	height: 146px
}
.media_list .media_card {
	float: left;
	width: 17.5%;
	margin: 0 10px 20px
}
.media_list .media_card .media_img {
	display: block;
	height: 148px;
	overflow: hidden
}
.media_list .media_card .wxmImg {
	width: 100%;
	height: 100%
}
.media_list .media_card .title {
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	font-weight: 400;
	font-style: normal
}
.media_list .media_card .desc {
	color: #8d8d8d
}
.media_list .appmsgSendedItem.simple_audiomsg {
	padding-left: 0
}
.media_list .appmsgSendedItem.simple_audiomsg .icon {
	position: static;
	width: 148px;
	height: 148px;
	background: transparent url(/mpres/htmledition/images/icon/media/icon_sended_audio218877.png) no-repeat center center
}
.media_list .appmsgSendedItem.simple_audiomsg .title {
	display: none
}
.media_list .appmsgSendedItem.simple_audiomsg .desc {
	display: block;
	position: absolute;
	right: 5px;
	top: 125px
}
.files .table_wrp .table_cell {
	vertical-align: top;
	padding-top: 12px
}
.file_item.editing .file_name {
	display: none
}
.file_item.editing .frm_input_box {
	display: inline-block
}
.file_item:hover .file_opr a {
	display: inline-block
}
.file_content {
	text-align: left
}
.files .file_content.table_cell {
	max-width: 380px;
	padding-left: 20px;
	padding-right: 20px
}
.file_content .frm_input_box {
	display: none
}
.file_info {
	width: 100px;
	color: #8d8d8d
}
.file_name {
	display: inline-block;
	font-weight: 400;
	font-style: normal
}
.file_size {
	font-weight: 400;
	font-style: normal
}
.file_opr {
	width: 200px;
	text-align: right
}
.file_opr a {
	display: none;
	margin-right: 14px
}
.file_opr i {
	cursor: pointer
}
.pagination_wrp .pagination {
	padding: 20px 0 0;
	border-top: 1px solid #e7e7eb
}
.sub_title_bar .opr a {
	color: #222
}
.richvideo {
	width: auto
}
.icon_msg_mini {
	margin: 0 .5em
}
.appmsg_item_v .content a.abstract_tit:hover:hover {
	text-decoration: underline
}
.img_pick {
	padding: 20px
}
.img_pick .img_item {
	float: left;
	text-align: center
}
.img_pick .img_item .pic {
	display: block;
	border-bottom: 1px solid #e7e7eb
}
.img_pick .img_item .pic:hover {
	cursor: pointer;
	cursor: hand
}
.img_pick .img_item .lbl_content {
	height: 32px;
	line-height: 32px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}
.group_list .num {
	display: inline-block;
	padding-left: 3px;
	font-style: normal;
	color: #8d8d8d
}
.group_list dt.inner_menu_item {
	background-color: #f4f5f9
}
.page_media_list .inner_container_box.cell_layout.side_r {
	*padding-right: 158px
}
.page_media_list .inner_container_box.cell_layout.side_r .inner_side {
	width: 17%;
	*width: 157px;
	*max-width: 157px
}
.img_pick_panel {
	padding: 0 30px
}
.img_pick_panel .side_r .inner_menu_item .icon14_common {
	margin-right: 2px
}
.img_pick_panel .img_pick {
	margin-right: -45px
}
.img_pick_panel .img_pick .img_item {
	*width: 169px;
	margin-bottom: 20px;
	margin-right: 15px;
	border: 1px solid #e7e7eb
}
.img_pick_panel .img_pick .img_item .pic {
	width: 169px;
	height: 169px
}
.img_pick_panel .img_pick .check_content {
	height: 32px;
	line-height: 32px;
	display: block;
	overflow: hidden
}
.img_pick_panel .img_pick .check_content .frm_checkbox_label {
	margin-right: 0;
	line-height: 1.6
}
.img_pick_panel .img_pick .check_content .icon_checkbox {
	vertical-align: top;
	margin-top: 8px;
	margin-right: 4px
}
.img_pick_panel .img_pick .check_content .lbl_content {
	display: inline-block;
	padding: 0;
	width: 118px
}
.img_pick_panel .img_pick .msg_card_opr_item_inner {
	border: 0;
	margin: 5px 0
}
.global_mod {
	padding: 10px 20px
}
.global_mod .global_info {
	margin-top: 4px
}
.global_mod .global_info .global_info_ele {
	margin-right: 1em
}
.mod_info {
	height: 30px;
	line-height: 30px
}
.mod_info .group_name {
	margin-right: 1em
}
.mod_info a {
	margin-right: 1em
}
.pagination_wrp {
	padding: 0 20px 20px;
	*padding-top: 20px
}
.oper_group {
	padding: 10px 20px;
	background-color: #f4f5f9;
	border-bottom: 1px solid #e7e7eb
}
.oper_group .oper_ele {
	margin-right: 1em
}
.oper_group .frm_controls {
	width: 62px;
	height: 30px;
	line-height: 30px
}
.tool_bar.tool_bar_tips {
	padding-top: 0;
	margin-top: 10px;
	padding-bottom: 0
}
.group_select .frm_radio_label {
	width: 49%;
	margin-right: 0
}
.group_select .frm_radio_label:nth-child(odd) {
	width: 49%;
	margin-right: 7px
}
.group_select .frm_radio_label:nth-child(even) {
	width: 46%
}
.frm_control_group.radio_row .frm_controls {
	display: block;
	margin-bottom: 1em
}
.frm_control_group.radio_row .frm_tips {
	padding-top: 0;
	margin-left: 19px
}
.popover_edit .frm_label {
	float: none
}
.popover_edit .frm_controls {
	display: block
}
.upload_box {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	line-height: 1.6;
	vertical-align: middle
}
.upload_box.has_demo {
	position: relative;
	margin-left: 114px
}
.upload_box.show_preview .upload_preview {
	display: block
}
.upload_box.tips_inline .upload_tips {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 3px;
	padding-bottom: 0;
	font-weight: 400;
	font-style: normal;
	vertical-align: middle
}
.frm_input_box .upload_box {
	margin-top: -0.35em
}
.frm_input_box .upload_box .upload_file_box {
	border-color: #d3d3d3;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0
}
.frm_input_box .upload_box .upload_preview img {
	max-width: 100px;
	max-height: 100px
}
.upload_demo {
	position: absolute;
	top: 0;
	left: -114px;
	width: 100px
}
.upload_demo img {
	width: 100%
}
.upload_demo strong {
	font-weight: 400;
	font-style: normal;
	display: block;
	color: #8d8d8d;
	padding-bottom: 5px
}
.upload_area {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle
}
.upload_area object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0
}
.btn.btn_upload {
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff));
	background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
	background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
	border-color: #e7e7eb;
	color: #222;
	height: 30px;
	line-height: 30px;
	*line-height: 28px;
	width: auto;
	padding-left: 22px;
	padding-right: 22px
}
.btn.btn_upload button {
	color: #222
}
.btn.btn_upload:hover {
	background-color: #e7e7eb;
	background-image: -moz-linear-gradient(top, #e7e7eb 0, #e7e7eb 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e7e7eb), to(#e7e7eb));
	background-image: -webkit-linear-gradient(top, #e7e7eb 0, #e7e7eb 100%);
	background-image: -o-linear-gradient(top, #e7e7eb 0, #e7e7eb 100%);
	background-image: linear-gradient(to bottom, #e7e7eb 0, #e7e7eb 100%);
	border-color: #dadbe0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #000
}
.btn.btn_upload:hover button {
	color: #222
}
.upload_tips {
	padding-bottom: 6px;
	color: #8d8d8d
}
.upload_file_box {
	position: absolute;
	top: 100%;
	left: 0;
	white-space: nowrap;
	background-color: #fff;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: 1px solid #e7e7eb;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0
}
.upload_file {
	padding: 3px 12px
}
.progress_bar {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 200px;
	background-color: #e7e7eb;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	overflow: hidden;
	vertical-align: middle
}
.progress_bar_thumb {
	height: 5px;
	background-color: #5aa1dd
}
.upload_file_name {
	display: inline-block;
	vertical-align: middle;
	max-width: 100px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	font-weight: 400;
	font-style: normal
}
.upload_file_size {
	display: inline-block;
	vertical-align: middle;
	max-width: 100px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	color: #8d8d8d;
	margin-right: 10px
}
.upload_file_status {
	display: none;
	font-weight: 400;
	font-style: normal
}
.upload_file_status.success {
	color: #7fba4f
}
.upload_file_status.error {
	color: #b11516
}
.upload_preview {
	display: none;
	margin-top: 10px
}
.upload_preview img {
	width: 100px
}
.upload_preview .upload_access {
	display: inline-block;
	vertical-align: top;
	color: #222;
	text-decoration: none
}
.upload_preview .upload_access i {
	margin-top: -0.2em
}
.upload_box {
	position: relative;
	z-index: 1
}
.upload_box.has_demo {
	margin-left: 0;
	min-height: 130px
}
.upload_box.align_right .upload_file_box {
	left: auto;
	right: 0
}
.upload_demo {
	right: 0;
	left: auto;
	padding-left: 40px;
	margin-right: -175px;
	border-left: 1px solid #e7e7eb
}
.upload_demo img {
	width: auto;
	max-width: 100px;
	max-height: 100px
}
.upload_area:hover object {
	filter: alpha(opacity=1);
	-moz-opacity: .01;
	-khtml-opacity: .01;
	opacity: .01
}
.btn.btn_upload_primary {
	background-color: #44b549;
	background-image: -moz-linear-gradient(top, #44b549 0, #44b549 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#44b549), to(#44b549));
	background-image: -webkit-linear-gradient(top, #44b549 0, #44b549 100%);
	background-image: -o-linear-gradient(top, #44b549 0, #44b549 100%);
	background-image: linear-gradient(to bottom, #44b549 0, #44b549 100%);
	border-color: #44b549;
	color: #fff
}
.btn.btn_upload_primary button {
	color: #fff
}
.btn.btn_upload_primary:hover {
	background-color: #2f9833;
	background-image: -moz-linear-gradient(top, #2f9833 0, #2f9833 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f9833), to(#2f9833));
	background-image: -webkit-linear-gradient(top, #2f9833 0, #2f9833 100%);
	background-image: -o-linear-gradient(top, #2f9833 0, #2f9833 100%);
	background-image: linear-gradient(to bottom, #2f9833 0, #2f9833 100%);
	border-color: #2f9833;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #fff
}
.btn.btn_upload_primary:hover button {
	color: #fff
}
.upload_tips {
	font-weight: 400;
	font-style: normal
}
.upload_msg.warn {
	color: #e15f63
}
.upload_file_box {
	margin-top: -1px;
	padding: 5px 0;
	max-height: 300px;
	*zoom: 1
}
.upload_file_box.scroll {
	overflow-y: scroll;
	overflow-x: hidden
}
.upload_file {
	padding: 4px 24px
}
.upload_file:hover {
	background-color: #f4f5f9
}
.upload_file_name {
	width: 95px
}
.upload_file_size {
	width: 80px
}
.upload_file_status.error {
	color: #e15f63
}
.upload_file_status.success {
	color: #7fba4f
}
.upload_file_cancel {
	margin-left: 10px
}
.upload_preview {
	display: block
}
.upload_preview img {
	max-width: 100px;
	max-height: 100px;
	margin-left: 1em
}
.upload_preview img:first-child {
	margin-left: 0
}
.upload_preview .upload_preview_pic {
	margin-right: 10px
}
.preview_mask {
	filter: alpha(opacity=92);
	-moz-opacity: .92;
	-khtml-opacity: .92;
	opacity: .92
}
.img_preview_container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	text-align: center;
	z-index: 10000;
	*height: 100%
}
.img_preview_container .img_container {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 80%;
	height: 600px;
	vertical-align: middle;
	font-size: 0
}
.img_preview_container .img_wrp {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	max-width: 98%
}
.img_preview_container .img_wrp img {
	vertical-align: top;
	min-width: 50px;
	min-height: 50px;
	max-width: 100%;
	max-height: 600px;
	background-color: #f4f5f9
}
.img_preview_container .img_opr_container {
	position: fixed;
	bottom: 100px;
	left: 0;
	right: 0
}
.img_preview_container .img_opr_list {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background: rgba(255, 255, 255, 0.3)!important;
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4dffffff', endcolorstr= '#4dffffff');
	border-radius: 45px;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	padding: 14px 4px;
	line-height: 32px
}
.img_preview_container .img_opr_item {
	float: left;
	border-left: 1px solid #5c5c5c
}
.img_preview_container .img_opr_item:first-child {
	border-left-width: 0
}
.img_preview_container .img_opr_item a {
	display: block;
	padding: 0 32px;
	line-height: 28px;
	height: 28px;
	color: #fff
}
.img_preview_container .img_opr_item a:hover {
	text-decoration: none
}
.img_preview_close {
	position: absolute;
	right: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.4)!important;
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#66000000', endcolorstr= '#66000000');
	padding: 8px
}
.icon_img_preview_close {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/widget/img_preview_z218878.png") 0 0 no-repeat;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	line-height: 100px;
	overflow: hidden
}
a:hover .icon_img_preview_close {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/widget/img_preview_z218878.png") 0 -26px no-repeat
}
.icon_img_preview {
	width: 28px;
	height: 28px;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	line-height: 100px;
	vertical-align: top
}
.icon_img_preview.prev {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/widget/img_preview_z218878.png") 0 -52px no-repeat
}
a:hover .icon_img_preview.prev {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/widget/img_preview_z218878.png") 0 -90px no-repeat
}
.prev_disabled a:hover .icon_img_preview.prev {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/widget/img_preview_z218878.png") 0 -128px no-repeat
}
.prev_disabled .icon_img_preview.prev {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/widget/img_preview_z218878.png") 0 -166px no-repeat
}
.icon_img_preview.next {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/widget/img_preview_z218878.png") 0 -204px no-repeat
}
a:hover .icon_img_preview.next {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/widget/img_preview_z218878.png") 0 -242px no-repeat
}
.next_disabled a:hover .icon_img_preview.next {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/widget/img_preview_z218878.png") 0 -280px no-repeat
}
.next_disabled .icon_img_preview.next {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/widget/img_preview_z218878.png") 0 -318px no-repeat
}
.icon_img_preview.origin {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/widget/img_preview_z218878.png") 0 -356px no-repeat
}
a:hover .icon_img_preview.origin {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/widget/img_preview_z218878.png") 0 -394px no-repeat
}
.icon_img_preview.download {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/widget/img_preview_z218878.png") 0 -432px no-repeat
}
a:hover .icon_img_preview.download {
	background: url("/mpres/zh_CN/htmledition/comm_htmledition/style/widget/img_preview_z218878.png") 0 -470px no-repeat
}
.pagination_wrp {
	text-align: right
}
.pagination {
	*font-size: 0
}
.page_nav_area,
.goto_area {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px
}
.page_nav_area {
	letter-spacing: 4px;
	*letter-spacing: normal
}
.page_nav_area .btn {
	letter-spacing: normal;
	*margin: 0 3px
}
.page_nav_area .gap_prev,
.page_nav_area .gap_next {
	letter-spacing: normal;
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	margin-left: 4px;
	margin-right: 4px
}
.btn.page_nav {
	margin: 0;
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff));
	background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
	background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
	border-color: #e6e7ec;
	color: #222;
	height: 30px;
	line-height: 30px;
	*line-height: 28px;
	width: auto;
	padding-left: 14px;
	padding-right: 14px
}
.btn.page_nav button {
	color: #222
}
.btn.page_nav:hover {
	background-color: #e6e7ec;
	background-image: -moz-linear-gradient(top, #e6e7ec 0, #e6e7ec 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e7ec), to(#e6e7ec));
	background-image: -webkit-linear-gradient(top, #e6e7ec 0, #e6e7ec 100%);
	background-image: -o-linear-gradient(top, #e6e7ec 0, #e6e7ec 100%);
	background-image: linear-gradient(to bottom, #e6e7ec 0, #e6e7ec 100%);
	border-color: #dadbe0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #000
}
.btn.page_nav:hover button {
	color: #222
}
.btn.page_nav.current {
	border: 0;
	background: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	cursor: default
}
.btn.page_prev,
.btn.page_next {
	position: relative;
	font-size: 0;
	letter-spacing: -5px;
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff));
	background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
	background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
	border-color: #e6e7ec;
	color: #222;
	height: 30px;
	line-height: 30px;
	*line-height: 28px;
	width: auto;
	padding-left: 14px;
	padding-right: 14px
}
.btn.page_prev button,
.btn.page_next button {
	color: #222
}
.btn.page_prev:hover,
.btn.page_next:hover {
	background-color: #e6e7ec;
	background-image: -moz-linear-gradient(top, #e6e7ec 0, #e6e7ec 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e7ec), to(#e6e7ec));
	background-image: -webkit-linear-gradient(top, #e6e7ec 0, #e6e7ec 100%);
	background-image: -o-linear-gradient(top, #e6e7ec 0, #e6e7ec 100%);
	background-image: linear-gradient(to bottom, #e6e7ec 0, #e6e7ec 100%);
	border-color: #dadbe0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #000
}
.btn.page_prev:hover button,
.btn.page_next:hover button {
	color: #222
}
.btn.page_prev .arrow,
.btn.page_next .arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -6px;
	margin-left: -3px
}
.btn.page_first,
.btn.page_last,
.btn.page_go {
	background-color: #fff;
	background-image: -moz-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff));
	background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
	background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
	background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
	border-color: #e6e7ec;
	color: #222;
	height: 30px;
	line-height: 30px;
	*line-height: 28px;
	width: auto;
	padding-left: 20px;
	padding-right: 20px
}
.btn.page_first button,
.btn.page_last button,
.btn.page_go button {
	color: #222
}
.btn.page_first:hover,
.btn.page_last:hover,
.btn.page_go:hover {
	background-color: #e6e7ec;
	background-image: -moz-linear-gradient(top, #e6e7ec 0, #e6e7ec 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e7ec), to(#e6e7ec));
	background-image: -webkit-linear-gradient(top, #e6e7ec 0, #e6e7ec 100%);
	background-image: -o-linear-gradient(top, #e6e7ec 0, #e6e7ec 100%);
	background-image: linear-gradient(to bottom, #e6e7ec 0, #e6e7ec 100%);
	border-color: #dadbe0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #000
}
.btn.page_first:hover button,
.btn.page_last:hover button,
.btn.page_go:hover button {
	color: #222
}
.page_next .arrow {
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: dashed;
	border-color: transparent;
	border-right-width: 0;
	border-left-color: #919191;
	border-left-style: solid
}
.page_prev .arrow {
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: dashed;
	border-color: transparent;
	border-left-width: 0;
	border-right-color: #919191;
	border-right-style: solid
}
.page_num {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	*margin-right: 4px;
	letter-spacing: normal
}
.goto_area {
	margin-left: 8px
}
.goto_area input[type="text"] {
	vertical-align: middle;
	width: 75px;
	height: 22px;
	line-height: 22px;
	padding: 4px 0;
	border: 1px solid #e7e7eb;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-align: center;
	font-size: 14px;
	margin-right: 4px
}
.pagination .btn {
	min-width: 0
}
.tooltip {
	position: absolute;
	z-index: 10
}
.tooltip_inner {
	padding: 0 10px;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	background-color: #555556;
	word-wrap: break-word;
	word-break: break-all
}
.tooltip_arrow {
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -6px;
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: dashed;
	border-color: transparent;
	border-bottom-width: 0;
	border-top-color: #555556;
	border-top-style: solid
}